<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto"
    android:versionCode="231213">

    <uses-permission tools:node="removeAll" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher2.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS"/>


    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name="com.iiordanov.bVNC.App"
        android:allowBackup="false"
        android:banner="@drawable/banner_bvnc"
        android:icon="@drawable/icon"
        android:label="@string/bvnc_app_name"
        android:theme="@style/OverflowMenu1"
        android:usesCleartextTraffic="true"
        tools:replace="android:label,android:theme">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <activity
            android:name="com.undatech.opaque.ConnectionGridActivity"
            android:configChanges="keyboardHidden"
            android:exported="true"
            android:label="@string/bvnc_app_name"
            android:resizeableActivity="true"
            android:theme="@style/OverflowMenu1">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />-->
            <!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.ft.fdevnc.AllAppActivity"
            android:exported="true"
            android:label="@string/bvnc_app_name">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->
            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />-->
            <!--                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>


        <activity
            android:name="com.iiordanov.bVNC.bVNC"
            android:configChanges="orientation|keyboardHidden"
            android:exported="true"
            android:label="@string/bvnc_app_name"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:theme="@style/OverflowMenu1"
            android:windowSoftInputMode="stateHidden|adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="vnc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="intent" />
                <data android:mimeType="application/vnd.vnc" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity1"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc1"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity2"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc2"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity3"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc3"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity4"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc4"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity5"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc5"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity6"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc6"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity7"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc7"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity8"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc8"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.RemoteCanvasActivity$RemoteCanvasActivity9"
            android:configChanges="colorMode|density|fontScale|fontWeightAdjustment|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
            android:exported="true"
            android:resizeableActivity="true"
            android:screenOrientation="unspecified"
            android:launchMode="singleTask"
            android:taskAffinity=".abc9"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:allowTaskReparenting="true"
            android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity
            android:name="com.iiordanov.bVNC.ConnectionListActivity"
            android:exported="true"
            android:label="@string/shortcut_label_vnc"
            android:resizeableActivity="true"
            android:theme="@style/OverflowMenu1"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest> 
